Repository ShaneIsley/patience: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, check-function-complexity, check-constants-file, check-mutex-usage, check-interface-usage

golangci-lint:
  name: golangci-lint (comprehensive quality checks)
  description: Prevents regression of all TDD cycle fixes
  entry: golangci-lint
  args:
  - run
  - --config=.golangci.yml
  - --timeout=5m
  language: system
  pass_filenames: false

check-function-complexity:
  name: Function complexity check
  description: Prevents regression of 216-line method fix
  entry: bash
  args:
  - -c
  ...

check-constants-file:
  name: Constants file check
  description: Prevents regression of magic numbers fix
  entry: bash
  args:
  - -c
  - "if [ ! -f \"pkg/executor/constants.go\" ]; then\n  echo \"ERROR: constants.go file missing - magic numbers may have been reintroduced\"\n  exit 1\nfi\necho \"✅ Constants file exists\"\n"
  ...

check-mutex-usage:
  name: Concurrency safety check
  description: Prevents regression of race condition fixes
  entry: bash
  args:
  - -c
  ...

check-interface-usage:
  name: Type safety check
  description: Prevents regression of interface{} elimination
  entry: bash
  args:
  - -c
  ...

feat: implement advanced pattern matching system with predefined pattern sets
  go.mod
  pkg/patterns/json_matcher.go
  pkg/patterns/json_matcher_test.go
  pkg/patterns/matcher.go
  pkg/patterns/pattern_set.go
  pkg/patterns/pattern_set_test.go
  pkg/patterns/predefined/aws.yaml
  pkg/patterns/predefined/docker.yaml
  pkg/patterns/predefined/github.yaml
  pkg/patterns/predefined/kubernetes.yaml
Due: golangci-lint, check-mutex-usage, check-interface-usage

feat: complete TDD Cycle 2.4 - HTTP-Aware Pattern Integration
  docs/ADVANCED_CAPABILITIES.md
  pkg/patterns/http_pattern_config_test.go
  pkg/patterns/http_pattern_matcher.go
  pkg/patterns/http_pattern_matcher_test.go
  pkg/patterns/multiline_matcher.go
  pkg/patterns/multiline_matcher_test.go
  pkg/patterns/pattern_set.go
  pkg/patterns/predefined/http_apis.yaml
  pkg/patterns/predefined/stacktraces.yaml
  pkg/patterns/predefined/structured_logs.yaml
Due: golangci-lint, check-mutex-usage, check-interface-usage

feat: fix critical jitter bug and complete TDD Cycle 2.5 with production-ready improvements
  pkg/backoff/effectiveness_tracker.go
  pkg/backoff/http_aware_adaptive.go
  pkg/backoff/http_aware_integration_test.go
  pkg/backoff/http_aware_selector.go
  pkg/daemon/daemon.go
  pkg/daemon/daemon_logging_test.go
  pkg/patterns/http_pattern_matcher.go
  pkg/patterns/http_pattern_matcher_test.go
  pkg/patterns/yaml_test.go
Due: golangci-lint, check-mutex-usage, check-interface-usage

docs: prepare project for GitHub release with production-ready examples
  README.md
  cmd/patience/main.go
  cmd/patienced/main.go
  examples.md
  pkg/backoff/http_aware_integration_test.go
Due: golangci-lint, check-mutex-usage, check-interface-usage

docs: fix outdated information and standardize documentation
  Architecture.md
  DAEMON.md
  Development-Guidelines.md
  README.md
  docs/project/potential-features.md
  examples.md
Due: none

fix: address critical security vulnerabilities and documentation inaccuracies
  README.md
  pkg/backoff/http_aware.go
  pkg/daemon/daemon.go
  pkg/executor/executor.go
Due: golangci-lint, check-function-complexity, check-constants-file, check-mutex-usage, check-interface-usage

Add documentation quality review with scoring and recommendations
  docs/reviews/DOCUMENTATION_QUALITY_REVIEW.md
Due: none

Fix all documentation issues and test failures from quality review
  .github/workflows/ci.yml
  AGENTS.md
  Architecture.md
  CONTRIBUTING.md
  DAEMON.md
  DOCUMENTATION.md
  Development-Guidelines.md
  README.md
  cmd/patience/subcommands.go
  docs/project/current-state_gemini.md
  docs/reports/FINAL_EVALUATION_REPORT.md
  pkg/backoff/http_aware_integration_test.go
  pkg/config/config_test.go
  pkg/daemon/protocol_safe_test.go
  pkg/daemon/protocol_types.go
  pkg/daemon/unix_server.go
  pkg/daemon/worker_pool.go
  pkg/discovery/enhanced_parser.go
  pkg/discovery/enhanced_parser_test.go
  pkg/executor/executor.go
  pkg/patterns/http_pattern_config_test.go
  pkg/patterns/json_matcher_test.go
Due: golangci-lint, check-function-complexity, check-constants-file, check-mutex-usage, check-interface-usage

fix: make curl examples actually retry by adding -f and using random status codes
  README.md
  examples.md
Due: none

Improve documentation style across all docs
  Architecture.md
  CONTRIBUTING.md
  DAEMON.md
  DOCUMENTATION.md
  README.md
  docs/ADVANCED_CAPABILITIES.md
  docs/project/current-state_gemini.md
  docs/project/enhancement.md
  docs/project/potential-features.md
  docs/reports/FINAL_EVALUATION_REPORT.md
  docs/reports/HTTP_AWARE_INTEGRATION_REPORT.md
  docs/reports/PERFORMANCE_EVALUATION_SUMMARY.md
  docs/reports/PHASE1_BASELINE_REPORT.md
  docs/reports/TDD_PERFORMANCE_RELIABILITY_REPORT.md
  docs/reviews/DOCUMENTATION_QUALITY_REVIEW.md
  examples.md
Due: none

Add detailed code walkthrough built with showboat
  walkthrough.md
Due: none

Add interactive animated backoff strategy visualizer
  animated-walkthrough.html
Due: none

Add deep-dive.md code walkthrough
  deep-dive.md
Due: none

Add interactive backoff strategy visualiser
  interactive-demo.html
Due: none

Add code walkthrough: backoff theory made concrete
  deep-dive-classic.md
Due: none

Add interactive backoff strategy visualiser
  interactive-demo-classic.html
Due: none

Path conditions:
  golangci-lint: any of: \.go$
  check-function-complexity: any of: pkg/executor/executor\.go$
  check-constants-file: any of: pkg/executor/.*\.go$
  check-mutex-usage: any of: \.go$
  check-interface-usage: any of: \.go$
